.nav-div{
    width: 100%;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 1rem;
    margin: .5rem;
    background-color: #F5F5F5;
}
.input-link{
    display: flex;
    justify-content: center;
}
.preview_img{
    cursor: pointer;
    margin: .25rem;
}
.image-div-inner{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 1rem;
    display: inline-block;
    margin: .5rem;
    background:#F5F5F5;
}
.image-div-outer{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 1rem;
    display: inline-block;
    margin: .5rem;
    background-color: white;
}