<div class="{{role}}-nav-div text-center nav-div" style="display: none;" id="{{role}}_nav_div">
    <h2>{{roleText}} {{navigation}}</h2>
    <div class="{{role}}-error" id="{{role}}_error" style="display: none;">
        <h2 id="{{role}}_error_message" class="text-error"></h2>
    </div>
    <div class="{{role}}-success" id="{{role}}_success" style="display: none;">
        <h2 id="{{role}}_success_message" class="text-success"></h2>
    </div>
    <form id="{{role}}_form" method="POST" action="./classes/inc/configuration.inc.php" enctype="multipart/form-data">
        <div id="{{role}}_image_div">
            <div id="{{role}}_settings">
                <p>
                    {{img_pix_width}}
                    <input type="number" name="imagewidth" onchange="widthchange('{{role}}')" id="{{role}}_image_width" value="{{width}}">
                </p>
                <p>
                    {{img_pix_height}}
                    <input type="number" name="imageheight" onchange="heightchange('{{role}}')" id="{{role}}_image_height" value="{{height}}">
                </p>
                <p>
                    {{keep_aspect_ratio}}
                    <input type="checkbox" name="aspectratio" onchange="ratiochange('{{role}}')" id="{{role}}_aspectratio" value="aspectratio" {{aspectratio}}>
                </p>
            </div>
            {{#array}}
            <div id="{{role}}_image_{{0}}" class="{{role}}_image">
                <p>{{0}}</p>
                <img id="{{role}}_the_image{{0}}" class="{{role}}_imagenav" style="width: {{width}}px; height: {{height}}px; {{3}}" src="{{2}}">
                <div>
                    <input type="file" name="file{{0}}" id="{{role}}_file{{0}}" onchange="newfile('{{role}}',{{0}})" class="{{role}}-files"><br>
                    <div class="input-link">
                        <p>
                            {{input_a_url}}
                            <input type="url" name="link{{0}}" id="{{role}}_link{{0}}" class="{{role}}-links" value="{{1}}" onchange="newurl('{{role}}', {{0}})">
                        </p>
                    </div>
                </div>
            </div>
            {{/array}}
        </div>
        <input type="number" name="total" value="{{total_images}}" style="display: none;" id="{{role}}_image_total">
        <input type="text" name="role" value="{{role}}" style="display: none;">
    </form>
    <div class="text-center"> 
        <button class="btn btn-primary" id="{{role}}_submit_btn" onclick="submitdata('{{role}}')">{{submit}}</button>
        <button class="btn btn-primary" id="{{role}}_new_image" onclick="newimage('{{role}}')">{{add_new_img}}</button>
    </div>
    <br>
    <button class="btn btn-primary" id="{{role}}_preview_btn" onclick="previewclick('{{role}}')">{{preview}} {{roleText}} {{navigation}}</button>
    <br>
    <div class="{{role}}_preview text-center" style="display: none;" id="{{role}}_preview_div">
    </div>
</div>