<h1 class="text-center">{{config_img_nav}}</h1>
<div class="nav-btns text-center">
    <button class="btn btn-primary" id="admin_nav_btn" onclick="navbtn('admin')">{{admin_nav}}</button>
    <button class="btn btn-primary" id="coach_nav_btn" onclick="navbtn('coach')">{{coach_nav}}</button>
    <button class="btn btn-primary" id="learner_nav_btn" onclick="navbtn('learner')">{{learner_nav}}</button>
</div>
